target/
.idea/
.vscode/
*.iml
*.class
bin/


# Archives and build packages
*.rar
*.zip

# Local tools/binaries
tools/

# Custom ignores
**/WyszukiwarkaApp.java
**/PracodawcaApp.java
**/KandydatApp.java
Plan aplikacji (1).docx
README2.md
demo/
javafx-run-pracodawca.bat
**/DbChecker.java
**/insert_offers.sql

